 <h1> Olá {{user.name}} {{user.surname}}, seja bem vindo</h1>

{{#if auth}}

<h1>BEM VINDO A NOSSA PAGINA DE OPCOES, POR FAVOR ESCOLAHA UMA DAS SEGUINTES OPÇÕES: </h1>

<p>
    <a href="/dashboard">clique aqui</a> para acessar área de membros
</p>

<p>
    <a href="/dashboard">clique aqui</a> para acessar área de investimento
</p>

<p>
    <a href="/dashboard">clique aqui</a> para acessar área de Atendimento ao cliente
</p>

<p>
    <a href="/dashboard">clique aqui</a> para acessar área de Informações de nossos produtos
</p>
{{/if}}


{{#if approved}}
<p>Parabéns, o seu cadastro está aprovado!</p>

{{else}}
<p>O seu cadastro precisa de aprovação</p>

{{/if}}