body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .header-photo {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .header-photo h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .header-photo img {
    width: 25%;
    max-height: 150px;
    margin: 0 auto;
    display: block;
    object-fit: cover; /* Adiciona um ajuste ao tamanho da imagem mantendo a proporção */
  }
  
  .additional-photo-carousel img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .additional-photo-carousel img.no-border-radius {
    border-radius: 0;
  }
  
  .additional-photo-carousel button {
    margin-top: 10px;
  }
  
  .social-links {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .social-links a:hover {
    color: #007bff;
  }