body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .header-photo {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .header-photo h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .header-photo img {
    width: 25%;
    max-height: 150px;
    margin: 0 auto;
    display: block;
    object-fit: cover; /* Adiciona um ajuste ao tamanho da imagem mantendo a proporção */
  }
  
  .photo-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .photo-carousel img {
    max-width: 100%;
    height: auto;
  }
  
  .photo-carousel img {
    max-width: 100%;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .photo-carousel img:first-child {
    opacity: 1;
  }
  
  #prev-btn,
  #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #prev-btn {
    left: 10px;
  }
  
  #next-btn {
    right: 10px;
  }
  
  .curiosities {
    text-align: center;
    padding: 20px;
  }
  
  .curiosities button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* ... (seções anteriores) */
    .photo-carousel img:hover {
    border: 2px solid #3498db; /* Adiciona uma borda ao passar o mouse */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); /* Adiciona uma sombra ao passar o mouse */
    transform: scale(1.1); /* Aumenta um pouco o tamanho ao passar o mouse */
    transition: all 0.3s ease-in-out; /* Adiciona uma transição suave */
  }
  