<h1>Adicione um usuário</h1>

<div action="/users/create" method="post" class="form">
</div class="form-control">
<label for="name">nome</label>
<input type="text" name="name" placeholder="Digite o nome do usuario">
<div>
    <div class="form-control">
        <label for="occupation"> Profissao</label>
        <input type="text" name="occupation" placeholder="Digite a profissao">
</div>
<div>
    <div class="form-control form-checkbox">
        <label for="neswslater"> Enviar promoção</label>
        <input type="checkbox" name="newslater" checked>
</div>
<input type="submit" value="Cadastrar">

</form>